div.title {
    display: none;
    position: relative;
    text-align: center;
    top: -400px;
    color:white;
    letter-spacing: 6px;
    font-family: 'Helvetica';
    line-height: 2;
}

div.title:hover, a.wrapper:hover + div {
    display: block;
}

body {
    background-color: black;
}

.foto {
	margin-left: 220px;
}

header {
    color:white;
    font-family:'helvetica';
    float: center;
    margin-top:80px;
    font-size:20pt;
    letter-spacing: 10px;
    margin-left:470px;
}


