body {
    background: url(../images/background.jpeg) no-repeat center center fixed; 
  background-size: cover;
}


.center{
	margin-top:70px;
}

.center img {
	position: relative;
	top:0;
	margin: 0 auto;
	z-index: 10;
	max-width:50%;
	height: auto;
}

.center h1 {
	position: relative;
	top: -200px;
	z-index: 999;
	font-family: 'Gill Sans';
	color: white;
	letter-spacing: 6px;
	font-weight:lighter;
	font-size: 16pt;	
}


a {
	color: white;
	font-family: 'Gill Sans';
	font-size:12pt;
	letter-spacing: 2px;
	font-weight:lighter;
}


.footer {
	color: white;
	font-style: 'Gill Sans';
	font-weight: lighter;
	font-size: 6pt;
	letter-spacing: 3px;
	text-align: center;
	margin-top:40px;
}

.navbar-brand>img {
    display: block;
    height: 50px;
}

.navbar {
	margin-top: 5px;
}