body {
    background: url(../images/fondo4.jpg) no-repeat center center fixed; 
  background-size: cover;
}

a {
	color: white;
	font-family: 'Gill Sans';
	font-size:12pt;
	letter-spacing: 2px;
	font-weight:lighter;
}

button a{
	color:gray;
}

.center {
	font-family: 'Gill Sans';
	color: white;
	font-size: 12pt;
	letter-spacing:2px;
	font-weight:lighter;
}

.container {
	margin-left:320px;
	margin-top:40px;
}


.footer {
	color: white;
	font-style: 'Gill Sans';
	font-weight: lighter;
	font-size: 6pt;
	letter-spacing: 3px;
	text-align: center;
	margin-top:90px;
}

.navbar-brand>img {
    display: block;
    height: 50px;
}

.navbar {
	margin-top: 5px;
}