body {
    background: url(../images/fondo3.jpg) no-repeat center center fixed; 
  background-size: cover;
}

a {
	color: white;
	font-family: 'Gill Sans';
	font-size:12pt;
	letter-spacing: 2px;
	font-weight:lighter;
}

button a{
	color:gray;
}

.left {
	margin-left:-15px;
	text-align: center;
}


.right {
	margin-right:-15px;
	text-align: center;
}

.paragraph{
	position: relative;
	font-family: 'Gill Sans';
	font-size:14pt;
	letter-spacing:2px;
	text-align:center;
}

.center .btn{
	font-family: 'Gill Sans';
	font-size: 10pt;
	letter-spacing:2px;
	font-weight:lighter;
}

.footer {
	color: white;
	font-style: 'Gill Sans';
	font-weight: lighter;
	font-size: 6pt;
	letter-spacing: 3px;
	text-align: center;
	margin-top:50px;
}

.navbar-brand>img {
    display: inline-block;
    height: 50px;
    margin-top: -20px;
}


.navbar {
	margin-top: 5px;
}
